<h1 class="">Welcome To {PUBLIC_APP_NAME}</h1>

<form class="msg-input">
    <div>
        <input placeholder="name" bind:value={name} />
    </div>
    <div>
        <textarea placeholder="body" bind:value={body} />
    </div>
    <div>
        <button on:click={submitMessage}>Submit</button>
    </div>
</form>

<div>
    <div class="page-option">
        <div>
            <a href="#" class="change-page" on:click={changePageNum($page_num-1)}>
                <u>prev</u>
            </a>
            <select bind:value={$page_num} on:change={fetchData}>
                {#each available_pages as i}
                <option value={i}>{i}</option>
                {/each}
            </select>
            <a href="#" class="change-page" on:click={changePageNum($page_num+1)}>
                <u>next</u>
            </a>
        </div>
        <div>
            entries per page:
            <select bind:value={$page_len} on:change={fetchData}>
                {#each PAGE_LEN_OPTIONS as i}
                <option value={i}>{i}</option>
                {/each}
            </select>
        </div>
    </div>
    {#await fetchData()}
        <p>Fetching...</p>
    {:then}
        {#each data.entries as entry}
            <div class="msg-entry">
                <div>
                    <span>
                        {#if entry.name}
                        <strong>{entry.name}</strong>
                        {:else}
                        <i>Anonymous</i>
                        {/if}
                    </span>
                    <span>
                        {#if entry.source}
                            ({entry.source})
                        {/if}
                    </span>
                </div>
                <div>
                    {entry.body}
                </div>
                <div>
                    <small>
                        # {entry.id} | {new Date(entry.created)}
                    </small>
                </div>
            </div>
        {/each}
    {/await}
</div>
  
<script>
    import {
        PUBLIC_APP_NAME, PUBLIC_BASE_API_URL, PUBLIC_LOCALE
    } from '$env/static/public';
    import { page_num, page_len } from './stores';
    import { PAGE_LEN_OPTIONS } from './definitions';

    let data = { entries: [], count: 0};
    let name = '', body = '' ;

    /**
     * @type {number[]}
     */
    let available_pages = [];

    /**
     * @param {number} n
     */
    function changePageNum(n){
        if ( available_pages.includes(n) ) {
            page_num.set(n);
            fetchData()
        }
    }

    async function submitMessage(){
        const message = {
            name: name,
            body: body
        }
        const target_url = PUBLIC_BASE_API_URL + '/board';
        const response = await fetch(target_url, {
            method: "POST",
            mode: "cors",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(message),
        });
        const result = await response.json();
        console.log(result);
        fetchData();
    }

    async function fetchData() {
        const query_url = {
            limit: $page_len,
            offset: $page_len * $page_num,
        }
        const target_url = PUBLIC_BASE_API_URL + '/board?' + new URLSearchParams(query_url);
        try{
            const response = await fetch(target_url);
            data = await response.json();
        }catch(err){
            data = { entries: [], count: 0}
            console.error(err)
        }
        available_pages = Array(Math.ceil(data.count / $page_len)).fill().map((x,i)=>i);
        if (!available_pages.includes($page_num)){
            page_num.set(available_pages[available_pages.length-1]);
            fetchData()
        }
        console.log(data);
    }
</script>
