html {
    font-family: monospace;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

%section-box {
    padding: 1%;
    margin: 1%;
    border: black;
    border-style: solid;
    border-width: 1px;
    background-color: whitesmoke;
    div {
        margin: 1% 5%;
    }
}

.msg-input {
    @extend %section-box;

}

.msg-entry {
    @extend %section-box;
}

.page-option {
    @extend %section-box;

    text-align: center;
}

input, button, select {
    font-family: monospace;
    border: black;
    border-style: solid;
    border-width: 1px;
}

textarea {
    @extend input;
    width: 100%;
}

.change-page {
    color: black;
    &:hover {
        color: grey;
    }
}